body {
  font-weight: 400;
  line-height: 2;
  color: #4A535A;
  letter-spacing: 0.5px;
}

h1 {
  font-size: 60px;
}

nav {
  height: 15%;
  width: 100%;
  padding-left: 10px;
  padding-right: 10px;
}

div[class^="col-"] {
  margin-bottom: 30px;
}

.row {
  margin-bottom: 30px;
}

.bg {
  background: url("assets/hero/hero-bg.png") no-repeat center top;
  position: absolute;
  background-size: cover;
  width: 100%;
  height: 500px;
  /* same height as jumbotron */
  top: 0;
  left: 0;
  z-index: -5;
}

.icon {
  position: absolute;
}

.icon-main {
  background: url("assets/hero/hero.png") no-repeat center bottom;
  width: 100%;
  height: 532px;
  background-size: cover;
  top: 0;
  left: 0;
  z-index: -4;
}

.icon-trees {
  background: url("assets/hero/hero-park.png") no-repeat left bottom;
  position: absolute;
  width: 100%;
  height: 510px;
  top: 0;
  right: -8%;
  z-index: -3;
}

.jumbotron {
  margin-bottom: 50px;
  height: 500px;
  color: white; 
  background: transparent;
  padding-top: 10px;
}

.circle {
  width: 200px;
  height: 200px;
  background-color: #fecb6e;
  border-radius: 50%;
  border: 30px solid #fecb6e;
}

.reviews {
  padding: 30px;
  background-color: skyblue;
  color: white;
 }
 
 .review-img {
  width: 150px;
  height: 150px;
 }

/* YOUR CODE HERE */

@media (max-width: 768px) {
  .jumbotron nav {
    display: none !important;
  }
  .info {
    text-align: center;
  }
  .large-header {
    display: none;
  }
 }
 
 @media (min-width: 768px) {
  .small-header {
    display: none;
  }
 }